
/* Farben: rgb(233, 233, 224), #333 */

@font-face {
    font-family: 'Garamond-Medium';
    src: url('../font/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'Garamond-Bold';
    src: url('../font/CormorantGaramond-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}


main {
    background-color: rgb(233, 233, 224);
}

header {
    padding-top: 25px;
    text-align: center;
    font-size: 1.7rem;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 35px;
    border-top: 5px double black;
    border-bottom: 5px double black;
    padding: 5px;
    font-size: 1.6rem;
}

.date p {
    margin: 0 auto;
}

.headline {
    display: flex;
    justify-content: space-between;
}

.headline h2 {
    font-size: 2.7rem;
    margin: 0 auto;
}

.headline p {
    font-size: 1.8rem;
    margin-right: 90px;
    font-weight: bold;
}

.gridspace {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 120px 200px 250px;
    padding: 20px 40px;
    gap: 10px;
}

.gridspace h3 {
    font-size: 1.6rem;
    text-align: left;
}

.gridspace p {
    text-align: left;
    font-size: 1.2rem;
}


.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.box6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.image img {
    display: grid;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}



aside .aside1 h3 {
    width: 14vw;
    height: 25vh;
    padding: 10px;
    border: 4px double black;
    margin: -20px 0 0 0;
    font-size: 4.7rem;
    text-align: center;
    color: rgb(60, 60, 60);
}

aside .aside2 {
    width: 14vw;
    height: 25vh;
    padding: 10px;
    border: 4px double black;
    margin: 15px 0 0 0;
}

.aside2 h3, p {
   text-align: center;
}

.aside2 h3 {
    font-size: 1.8rem;
    margin-bottom: 3px;
    color: rgb(57, 57, 57);
}

.aside2 p {
    font-size: 1.5rem;
}

.aside2 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.7rem;
    color: grey;
    border-bottom: 2px solid grey;

}

aside .ikea img {
    width: 14vw;
    height: 25vh;
    padding: 10px;
    border: 4px double black;
    margin: 15px 0 0 0;
    filter: grayscale(100%);
}
